accelerate==1.11.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aioitertools==0.12.0
aiosignal==1.4.0
aiosqlite==0.21.0
alembic==1.17.1
amqp==5.3.1
annotated-types==0.7.0
anyio==4.8.0
arize-phoenix==12.9.0
arize-phoenix-client==1.21.0
arize-phoenix-evals==2.5.0
arize-phoenix-otel==0.13.1
asgiref==3.8.1
attrs==25.3.0
audioop-lts==0.2.2
Authlib==1.6.5
beautifulsoup4==4.14.2
billiard==4.2.2
bitarray==3.0.0
blinker==1.9.0
boto3==1.40.64
botocore==1.40.64
Brotli==1.1.0
cachetools==6.2.1
cbor2==5.7.1
celery==5.5.3
certifi==2025.4.26
cffi==2.0.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
contourpy==1.3.1
cryptography==46.0.3
cycler==0.12.1
ddgs==9.6.1
distro==1.9.0
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dnspython==2.7.0
docker==7.1.0
dockerfile-parse==2.0.1
e2b==2.6.0
e2b-code-interpreter==2.3.0
email_validator==2.2.0
Faker==37.12.0
fastapi==0.115.8
fastapi-cli==0.0.7
fastuuid==0.14.0
ffmpy==0.6.4
filelock==3.20.0
Flask==3.1.0
Flask-Cors==5.0.0
fonttools==4.56.0
frozenlist==1.8.0
fsspec==2025.10.0
googleapis-common-protos==1.71.0
gradio==5.49.1
gradio_client==1.13.3
graphql-core==3.2.7
greenlet==3.2.4
groovy==0.1.2
groq==0.33.0
grpc-interceptor==0.15.4
grpcio==1.76.0
grpclib==0.4.8
h11==0.14.0
h2==4.3.0
helium==5.1.1
hoppr==1.14.1
hoppr-cyclonedx-models==0.6.0
hopprai==0.0.4
hpack==4.1.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.36.0
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
in-toto==3.0.0
iso8601==2.1.0
itsdangerous==2.2.0
jc==1.25.6
Jinja2==3.1.5
jiter==0.11.1
jmespath==1.0.1
joblib==1.5.2
jsonpath-ng==1.7.0
jsonref==1.1.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.8
kombu==5.5.4
litellm==1.79.1
lxml==6.0.2
Mako==1.3.10
markdown-it-py==3.0.0
markdownify==1.2.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mcp==1.20.0
mcpadapt==0.1.20
mdurl==0.1.2
mlx-lm==0.28.3
modal==1.2.1
mpmath==1.3.0
multidict==6.7.0
mysql-connector-python==9.2.0
networkx==3.5
numpy==2.2.2
openai==2.6.1
openinference-instrumentation==0.1.41
openinference-instrumentation-smolagents==0.1.19
openinference-semantic-conventions==0.1.24
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
opentelemetry-exporter-otlp-proto-http==1.38.0
opentelemetry-instrumentation==0.59b0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
oras==0.2.38
orjson==3.11.4
outcome==1.3.0.post0
packageurl-python==0.17.5
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
pillow==11.1.0
ply==3.11
primp==0.15.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.0
psutil==5.9.8
pyarrow==22.0.0
pycparser==2.22
pydantic==2.11.10
pydantic-settings==2.11.0
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.1
PyJWT==2.10.1
pyparsing==3.2.1
PySocks==1.7.1
pystache==0.6.8
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2025.1
pywin32==311
PyYAML==6.0.2
RapidFuzz==3.14.3
referencing==0.37.0
regex==2025.10.23
requests==2.32.3
rich==14.2.0
rich-toolkit==0.13.2
rpds-py==0.28.0
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.14
ruff==0.14.3
s3transfer==0.14.0
safehttpx==0.1.7
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.3
securesystemslib==1.3.1
selenium==4.33.0
semantic-version==2.10.0
setuptools==80.9.0
shellingham==1.5.4
sigtools==4.0.1
six==1.17.0
smolagents==1.22.0
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.8
SQLAlchemy==2.0.44
sqlean.py==3.49.1
sqlparse==0.5.3
sse-starlette==3.0.3
starlette==0.45.3
strawberry-graphql==0.270.1
sympy==1.14.0
synchronicity==0.10.2
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.1
toml==0.10.2
tomlkit==0.13.3
torch==2.9.0
torchvision==0.24.0
tqdm==4.67.1
transformers==4.57.1
trio==0.30.0
trio-websocket==0.12.2
typer==0.15.1
typer-slim==0.20.0
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing-inspection==0.4.2
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.0
vine==5.1.0
watchfiles==1.0.4
wcwidth==0.2.14
website==1.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.3
wsproto==1.2.0
xmltodict==1.0.2
yarl==1.22.0
zipp==3.23.0
